<mat-toolbar class="header-toolbar" role="header">
  <div class="left-section">
    <img src='../../../assets/0.5.png' class='icon' />

    <div class="section-title">
      Taily.
    </div>

    <div class="custom-select-wrapper">
      <select [(ngModel)]="selectedSection" class="custom-select">
        <option value="documents">Документы</option>
        <option value="projects">Проекты</option>
      </select>
    </div>
  </div>

  <div class="actions">
    <span class="username">{{ username }}</span>
  </div>
</mat-toolbar>
